.admin-page {
    height: 100vh;
}

.admin-page h3 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 2rem;
    background-color:  rgb(134, 200, 226);
}


.admin-page .form-container {
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
    padding-bottom: 20px;
    align-items: center;
    
}

.form-container label {
    font-size: 20px;
}
.form-container input {
    width: 300px;
    height: 30px;
}

.form-container button {
    border-radius: 5px;
    border: 1px solid rgb(134, 200, 226);
}