

.catHeader{
background-color: rgb(134, 200, 226);
}

.catHeader h3 {
  
    color: white;
    font-size:2rem;
    font-weight:100;
}
@media(max-width:320px){
    .catalog h3{
        font-size: 25px;
    }
}

.discountNote {
    color:red;
}

.filterButtons {
    margin-bottom: 50px;
    margin-top:50px;
   
}
.buttonShow{
    width:110px; 
    border: .5px solid black;
    border-radius: 15px;
    
}
.buttonSort{
    margin-left:25px;
    width:110px;
    border: .5px solid black;
    border-radius: 15px;
}
.buttonSort:hover{
    border:1px solid rgb(134, 200, 226);
    cursor:pointer;
}

.buttonShow:hover {
    border:1px solid rgb(134, 200, 226);
    cursor:pointer;
}

@media(max-width:768px){
    .buttonShow{
        
    width:100px;
    height: 7vh;
       
   }
    .buttonSort{
      margin-left:20px;
      height:7vh;
   }
}
@media(max-width:767px){
    .filterButtons {
       display: flex;
       flex-direction: column;
       width:100%;
       
     }
      .buttonShow{
         width:36%;
         height: 10vh;
       margin-left:32%;
       margin-right: 32%;
       margin-top: 10px;

        
    }
    .buttonSort{
        width:36%;
        height:10vh;
        margin-left: 32%;
        margin-right:32%;
        margin-top:20px;
    }
}
